.iconhtml {
    width: 500px;
    margin: 0 auto;
}

.iconhtml ul li {
    width: 120px;
    height: 120px;
    line-height: 120px;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #f2f2f2;
}

.iconhtml ul li:hover {
    background: #fefefe;
}

@font-face {
    font-family: "imooc-icon";
    src: url("../fonts/icomoon.eot");
    /*ie9兼容模式*/
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.imooc-icon {
    font-family: "imooc-icon";
    font-size: normal;
    font-weight: normal;
    font-style: normal;
    font-size: 64px;
    color: lightpink;
}